@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Outfit", sans-serif;
  background-image: url(./assets/x.svg);
  background-size: 200vh 100vw;
  background-position: top right;
  background-repeat: no-repeat;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.active {
  background-color: #f02806;
  color: #000;
}
.about {
  background-image: url("./assets/dots.svg"), url("./assets/dots.svg");
  background-size: 40vh, 40vh;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}
.navEle {
  @apply px-5 py-1 rounded transition duration-500 hover:bg-[#F02806] hover:text-black border-2 border-transparent;
}
@media (max-width: 450px) {
  body {
    background-size: 100vh;
    background-position-x: 90%;
    background-position-y: 20vh;
  }
  .about {
    background-size: 25vh, 25vh;
  }
}
.show {
  transform: translateX(0);
}
.hide {
  transform: translateX(100%);
}
